@import url('https://fonts.googleapis.com/css?family=Heebo:700&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
  font-size: 10px;
}

#container{
	width:300px;
	margin:0 auto;
	position: relative;	
}

#board { 
  background: #c97f5c;
  width: 300px;
  height: 640px;
  margin: 0 auto;
  border-radius:20px;
  
}
#board #top, #board #bottom{
  background: #9F532F;
  width:100%;
  height: 50px;
}
#board #top{ 
 border-top-left-radius: 20px; 
 border-top-right-radius: 20px; 
}
#board #bottom{ 
 border-bottom-left-radius: 20px; 
 border-bottom-right-radius: 20px; 
  margin-top: -3px;
  padding: 5px 15px;
}

#master > *{
  height: 45px;
  width: 160px;

  position: absolute;
  top: 0;
  left:95px;
}

#master > #cover{
  background: #54ce9f;
  -webkit-transform: perspective(500) rotateX(0deg);
      -ms-transform: perspective(500) rotateX(0deg);
          transform: perspective(500) rotateX(0deg);
  transform-origin: bottom center;
  transition: transform 1s;
  z-index: 10;
}

#master > #cover.open{
  -webkit-transform: perspective(500) rotateX(-80deg);
      -ms-transform: perspective(500) rotateX(-80deg);
          transform: perspective(500) rotateX(-80deg);
  transform-origin: bottom center;
  transition: transform 1s;
}

#master > #cover.open ~ .guesses .guess{
  border-color: #9F532F;
}

h1{
  background: #54ce9f;
  font-family: 'Heebo', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #81cda9;
  writing-mode: vertical-rl;
  height: 541px;
  text-shadow: 0px 0px 1px rgba(2, 92, 67, 1);
  font-size: 80px;
  display: inline-block;
  padding-top: 10px;
  line-height: 86px;
}

#codebreaker {
  height: 540px;
  width: 200px;
  float:right;
  margin-right:7.5px; 
}

/*--- MENU BUTTONS ---*/
.waiting #bottom .menu{
  font-family: 'Heebo', 'Arial', sans-serif;
  font-size: 15px;
  background:#65819D;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  width: 120px;
  padding:2px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  position: relative;
}
.waiting #bottom .menu:hover{
  background:#9F532F;
}
.waiting #bottom .menu:before, .waiting #bottom .menu:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #65819D;
  transition:400ms ease all;
}
.waiting #bottom .menu:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.waiting #bottom .menu:hover:before, .waiting #bottom .menu:hover:after{
  width:100%;
  transition:800ms ease all
}

/*---   ---*/
.guesses { 
  border-bottom: 2px solid #9F532F;
  height: 40px;
  margin: 5px 0;
  padding-bottom: 5px;
}
.guesses:last-of-type{
  border-bottom: none;
}
#master .guesses{
  z-index: 1;
}
.outcome{
  float: right;
  width: 35px;
  margin-left: 5px;
}
.peg{
  height: 12px;
  width: 12px;
  background: #350b00;
  border: 2px solid #c97f5c;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}

.guesses > .guess, #options .guess{
  height: 30px;
  width: 30px;
  background: #350b00;
  border: 6px solid #c97f5c;
  border-radius: 50%;
  float: left;
  margin: 3px 5px;
}
#options{
  width: 240px;
  margin: 0 auto;
}
#options .guess{
  outline: none;
  
}

#codebreaker .guess.active {
 border-color: #ffc296; 
}

#message{
  float:right;
  font-family: 'Heebo', 'Arial', sans-serif;
  font-size: 27px;
  color:#fff;
}
#message.win {
  color: #6ED9B3;
}
#message.lose{
  color: #FF5300;
}

/*--- COLORS SETUP ---*/
.color{ 
  box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.75);
}
#options .guess:before{
  font-family: 'Heebo', 'Arial', sans-serif;
  font-size: 15px;
  color: #000;
  line-height: 15px;
}
.guess.orange, #master .guess.orange:hover{
  background: #f3c276 !important;
  border-color: #f3c276 !important;
}
#options .guess.orange:hover{
  background: #CE9A49 !important;
  border-color: #CE9A49 !important;
}
#options .guess.orange:active, #options .guess.orange:disabled{
  background: #FFDAA2 !important;
  border-color: #FFDAA2 !important;
}
#options .guess.orange:before { content: "o"; }

.guess.violet, #master .guess.violet:hover{
  background: #be79cf !important;
  border-color: #be79cf !important;
}
#options .guess.violet:hover{
  background: #9E50B1 !important;
  border-color: #9E50B1 !important;
}
#options .guess.violet:active, #options .guess.violet:disabled{
  background: #DBA8E7 !important;
  border-color: #DBA8E7 !important;
}
#options .guess.violet:before { content: "v"; }

.guess.pink, #master .guess.pink:hover{
  background: #ffa3f6 !important;
  border-color: #ffa3f6 !important;
}
#options .guess.pink:hover{
  background: #FF74F3 !important;
  border-color: #FF74F3 !important;
}
#options .guess.pink:active, #options .guess.pink:disabled{
  background: #FFDFFC !important;
  border-color: #FFDFFC !important;
}
#options .guess.pink:before { content: "p"; }

.guess.blue, #master .guess.blue:hover{
  background: #74a2de !important;
  border-color: #74a2de !important;
}
#options .guess.blue:hover{
  background: #5185C9 !important;
  border-color: #5185C9 !important;
}
#options .guess.blue:active, #options .guess.blue:disabled{
  background: #9FC2EE !important;
  border-color: #9FC2EE !important;
}
#options .guess.blue:before { content: "b"; }

.guess.yellow, #master .guess.yellow:hover{
  background: #faffa2 !important;
  border-color: #faffa2 !important;  
}
#options .guess.yellow:hover{
  background: #F8FF73 !important;
  border-color: #F8FF73 !important;  
}
#options .guess.yellow:active, #options .guess.yellow:disabled{
  background: #FDFFDE !important;
  border-color: #FDFFDE !important;  
}
#options .guess.yellow:before { content: "y"; }

.guess.green, #master .guess.green:hover{
  background: #b1e497 !important;
  border-color: #b1e497 !important;
}
#options .guess.green:hover{
  background: #8BCB69 !important;
  border-color: #8BCB69 !important;
}
#options .guess.green:active, #options .guess.green:disabled{
  background: #D1F0C0 !important;
  border-color: #D1F0C0 !important;
}
#options .guess.green:before { content: "g"; }

/* in the puzzle, correct location */
.peg.correct {
  background: #f7fffb !important;
  border-color: #f7fffb !important; 
}
/* in the puzzle, incorrect location */
.peg.incorrect {
  background: #ff676b !important;
  border-color: #ff676b !important;
 
}
